/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

// Config variables
$vid-width: 320px;
$vid-height: 240px;

body {
	height: 100%;
	background-color: #000;
}

.wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.container {
	width: 50%;
	height: 100%;
	float: left;
}

.ctnr-left {
	background-color: green;
}

.ctnr-right {
	background-color: red;
}

.vid-frame {
	width: 100%;
	height: auto;
	background-color: black;
}